Menghapus missing values

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [3]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head() # .head() = menampilkan 5 data pertama saja

        index         A         B         C         D
0  oU9YjpDdjI -2.660449 -1.424582 -0.560228 -0.098609
1  Ij44MjvlYd -0.830475  1.068214 -0.845604 -0.266647
2  6rIkoZUkUe -0.170802  0.571047  0.151022 -0.685004
3  quVgpVq639  1.214204  1.418692 -1.139704  0.835474
4  MYYwml5RZX  0.855391 -0.338424 -0.315951 -1.075224

Mengubah index tabel

In [6]:
df = df.rename(columns={'index' : 'Z'})
df.head()

            Z         A         B         C         D
0  oU9YjpDdjI -2.660449 -1.424582 -0.560228 -0.098609
1  Ij44MjvlYd -0.830475  1.068214 -0.845604 -0.266647
2  6rIkoZUkUe -0.170802  0.571047  0.151022 -0.685004
3  quVgpVq639  1.214204  1.418692 -1.139704  0.835474
4  MYYwml5RZX  0.855391 -0.338424 -0.315951 -1.075224

Membuat copy dari data frame di atas

In [7]:
df_backup = df.copy(deep=True)

Menghapus (Drop) setiap kolom yang mengandung missing values

In [8]:
df = df.dropna(axis='columns') #menghapus kolom
df.head()

#akan menghapus kolom jika mengandung missing values

            Z
0  oU9YjpDdjI
1  Ij44MjvlYd
2  6rIkoZUkUe
3  quVgpVq639
4  MYYwml5RZX

Menghapus(Drop) setiap baris yang mengandung missing values

In [9]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

#akan menghapus baris jika mengandung missing values

            Z         A         B         C         D
0  oU9YjpDdjI -2.660449 -1.424582 -0.560228 -0.098609
1  Ij44MjvlYd -0.830475  1.068214 -0.845604 -0.266647
2  6rIkoZUkUe -0.170802  0.571047  0.151022 -0.685004
3  quVgpVq639  1.214204  1.418692 -1.139704  0.835474
4  MYYwml5RZX  0.855391 -0.338424 -0.315951 -1.075224

Persentase missing values untuk tiap kolom

In [10]:
df = df_backup.copy(deep=True)
df.isna().mean() 

#mengumpulkan semua missing value untuk setiap kolom pada Data frame dan cari persentase / rata-rata menggunakan .mean()

Z    0.000000
A    0.066667
B    0.066667
C    0.133333
D    0.133333
dtype: float64

Menghapus(drop) setiap kolom yang mengandung missing values berdasarkan threshold

In [11]:
treshold = len(df) * 0.9 #ambang batasnya (90%)
df = df.dropna(thresh=treshold, axis ='columns')
df.head()

#Kalau persentase missing valuesnya masih 
#ditoleransi maka kolomnya tidak akan dibuang

            Z         A         B
0  oU9YjpDdjI -2.660449 -1.424582
1  Ij44MjvlYd -0.830475  1.068214
2  6rIkoZUkUe -0.170802  0.571047
3  quVgpVq639  1.214204  1.418692
4  MYYwml5RZX  0.855391 -0.338424