Memeriksa kesamaan antar dua buah kolom (Series) pada Data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
data = {'A':[15, 15, 18, np.nan, 12] ,'B':[15, 15, 18, np.nan, 12] }

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Setiap kolom pandas memiliki tipe data series, sebuah data frame itu terdiri dari sejumlah series

In [4]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [3]:
type(df['A']) #tipe data dari list A

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

Memeriksa kesamaan dengan operator '==', jika ada values 'NaN' operator '==' tidak bisa membandingkannya dengan baik

In [6]:
df['A'] == df['B'] #setiap barisnya akan dibandingkan

0     True
1     True
2     True
3    False
4     True
dtype: bool

Menggunakan method equals() untuk memeriksa kesamaan

In [7]:
df['A'].equals(df['B'])

True

Memeriksa kesamaan antar dua Data Frame

In [9]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [10]:
df1 == df

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True